
<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
  </div>
</div>
<div class="row">
      <div class="col-xs-8">
        <h3>Items</h3>
    <ul class="list-group">
      <div
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let p_item of p_items  let i=index"
        (click)="onEditItem(i)"
      >
        {{ p_item.name }} {{ p_item.amount }}
        <button type="button" class=" btn btn-danger pull-right delete" (click)="deleteItem(i)">X</button>
      </div>


    </ul>
        </div>


      </div>


