
<div class="row">
  <div class="col-xs-6">
<button type="button" class="btn-primary" (click)="addLocation()">Add Location</button>
    <input type="text" [(ngModel)]="filteredStatus" placeholder="filter:active or inactive">
    <input type="text" [(ngModel)]="bacgroundcolor" [ngStyle]="{backgroundColor: bacgroundcolor}" placeholder="choose color">
    <app-loc-single *ngFor="let loc of locations |filter:filteredStatus let i=index" [location]="loc" >

    </app-loc-single>

  </div>
  <div class="col-xs-6">
    <router-outlet></router-outlet>
</div>
</div>
