
<div class="row">
  <div class="col-xs-12">
    <h2>Create new location</h2>
    <form (ngSubmit)="onAddLocation(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control" name="city" ngModel required>
      </div>
        <div class="col-sm-5 form-group">
          <label for="street">Street</label>
          <input type="text" id="street" class="form-control" name="street" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="started">Started</label>
          <input type="date" id="started" class="form-control" name="started" ngModel required>
        </div>
        <div class="col-sm-5 form-group">
          <label for="status">Status</label>
          <input type="text" id="status" class="form-control" name="status" ngModel required >
        </div>
      </div>
      <button type="submit">Submit</button>
      <button type="button" (click)="storeLocations()">Store locations</button>
      <button type="button" (click)="getServer()">Store locations</button>
    </form>
  </div>
</div>
